@use "../../styles/global.scss" as global;

.crop-list {
  margin-top: 15%;

  h5 {
    font-size: 1rem;
    text-transform: uppercase;
    color: global.$highlight-color;
    margin-bottom: 10%;
  }

  .crop-list-item {
    margin: 5% 3%;
    font-size: 0.8rem;
    font-weight: bold;
    align-items: baseline;

    .crop-name {
      text-transform: uppercase;
      text-align: start;
      color: global.$highlight-color;
    }

    .crop-detail-blue {
      color: global.$blue-color;
    }

    .crop-detail-red {
      color: global.$red-color;
    }

    .crop-detail-green {
      color: global.$primary-color;
    }
  }
}
