@use "../../global.scss" as global;

.crop-list {
  margin-top: 15%;

  h5 {
    font-size: 1rem;
    text-transform: uppercase;
    color: global.$highlight-color;
    margin-bottom: 10%;
  }

  .crop-list-item {
    margin: 5%;
    font-size: 0.8rem;
    font-weight: bold;

    .crop-name {
      text-transform: uppercase;

      text-align: start;
      color: global.$primary-color;
    }

    .crop-detail {
      color: global.$highlight-color;
    }
  }
}
