@use "../../global.scss" as global;
@use "sass:color";

.farm-listing {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .farm-listing-nav {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;

    .farm-search {
      border: 1px solid global.$highlight-color;
      border-radius: 2rem;
      padding: 0.3rem;
      font-size: 0.8rem;

      &:focus-visible {
        outline: 0;
        border: 1px solid global.$primary-color;
      }
    }

    button {
      font-size: 0.8rem;
      background-color: global.$primary-color;
      color: global.$secondary-color;

      &:hover {
        background: color.scale(global.$primary-color, $lightness: -10%);
      }
    }
  }
}
