@use "../../styles/global.scss" as global;

.modal {
  .modal-header {
    button:focus {
      box-shadow: none;
    }

    h5 {
      font-size: 1rem;
      text-transform: uppercase;
      color: global.$highlight-color;
    }
  }
}
