@use "../../styles/global.scss" as global;

.farm-list {
  margin-top: 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.farm-list-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  border-radius: 3%;
  background-color: global.$secondary-color;

  .farm-delete-icon {
    display: flex;
    justify-content: end;
    padding: 1rem;
    color: global.$highlight-color;

    button {
      border: unset;
      background-color: unset;
      color: global.$highlight-color;
      float: end;

      &:hover {
        color: global.$primary-color;
      }
    }
  }

  .farm-content {
    padding: 8% 10%;

    h4 {
      text-align: center;
      font-size: 1.35em;

      &:before {
        margin: auto;
        width: 1.2rem;
        height: 0.3rem;
        content: "";
        border-top: 1px solid global.$primary-color;
        margin-top: 5%;
        display: block;
      }
    }

    p {
      margin: 10% 0;
      color: global.$highlight-color;
      line-height: 1rem;
    }
  }
}
