$primary-color: #539e88;
$secondary-color: #f8f8f8;
$font-family: "Roboto", sans-serif;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $secondary-color;
}

h1,
h2,
h3 {
  color: $primary-color;
}
